body{
font-family:Arial;
text-align:center;
background:#f5f5f5;
}

h1{
margin-top:20px;
}

select{
padding:8px;
margin:15px;
}

.info{
background:#333;
color:white;
padding:10px 20px;
border-radius:8px;
display:inline-block;
margin:20px;
}

.contenedor{
display:flex;
justify-content:center;
gap:10px;
margin:20px;
flex-wrap:wrap;
}

.caja{
width:50px;
height:50px;
background:#f7e96d;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
border-radius:6px;
}

.actual{
border:3px solid blue;
}

.menor{
background:#7edc8b;
}

.comparando{
background:#f5a25d;
}

button{
padding:10px 25px;
margin:10px;
font-size:15px;
cursor:pointer;
}
